@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.top-container {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  min-height: 350px;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 8px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.hero-header {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero-subtext,
.header-links {
  font-size: 18px;
  color: #E5E7EB;
  
}

.hero-img {
  width: 400px;
  height: 200px;
  margin: 0;
  padding: 0;
}

.hero-signup {
  outline: none;
  border-radius: 6px;
  border-style: initial;
  background-color: #3882F6;
  color: white;
  padding: 3px 18px 3px 18px;
  cursor: grab;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.hero-container {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 450px;
  gap: 10px;
  flex-shrink: 0;
  
}

.header-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.top-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: space-between;
  gap: 40px;
  
}

.h-link {
  font-size: 18px;
  font-weight: 100;
}


/* info section starts here */

.info-img {
  height: auto;
  width: 120px;
  border: #3882F6 solid 3px;
  border-radius: 10px;
  
}

.second-container {
  display: flex;
  justify-content: center;
}

.second-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 80px;
}

.info-subtext {
  flex-wrap: wrap;
  max-width: 120px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: rgb(41, 41, 41);
}

.info-content {
  display: flex;
  gap: 30px;
  
}

.why-us {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.info-header {
  padding-bottom: 35px;
}


/* quote section starts here */

.third-container {
  background-color: #E5E7EB;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 80px;
  padding-bottom: 60px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1F2937;
  flex-wrap: wrap;
  max-width: 550px;
  
}

.third-wrapper {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
 
}

.quote-name {
  align-self: flex-end;
  font-weight: 500;
}

.quote-content {
  display: flex;
  flex-direction: column;
}

/* call to action starts here */

.fourth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
}

.fourth-wrapper {
  display: flex;
}

.action-body {
  display: flex;
  background-color: #3882F6;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 80px;
  padding-right: 80px;
}

.action-text {
  margin-right: 100px;
  color: #F9FAF8;
}

.action-subtext {
  font-size: 15px;
}

.action-bold {
  font-weight: bold;
}

.action-button {
  outline: none;
  border-radius: 6px;
  padding: 3px 18px 3px 18px;
  border-style: initial;
  background: none;
  color: #F9FAF8;
  border: #F9FAF8 solid 1px;
  cursor: grab;
}

.action-signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer */

.fifth-container {
  display: flex;
  min-height: 65px;
  background-color: #1F2937;
  justify-content: center;
  align-items: center;
}

.fifth-wrapper {
  display: flex;
}

.footer-body {
  display: flex;
}

.footer-text {
  color: #F9FAF8;
  font-size: 12px;
}